PORT=4000

MONGO_URI="mongodb://127.0.0.1:27017/SocialMediaApp"

JWT_SECRET_KEY="ksadfanjadaksnasfddcva"

JWT_TOKEN_EXPIRES=10d

SMTP_HOST="smtp-mail.outlook.com"

SMTP_PORT=587

SMTP_SERVICE="gmail"

SMTP_MAIL=yourmailId

SMTP_PASSWORD=mailPassword

CLOUDINARY_NAME= cloudinaryName
CLOUDINARY_API_KEY = CLOUDINARY_API_KEY
CLOUDINARY_SECRET_KEY = CLOUDINARY_SECRET_KEY



